<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Index</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <style>
        body {
            font-family: 'Broadway', sans-serif;
            color: purple;
            text-align: center;
        }
    </style>

</head>
<body>
    <h1>Bienvenue sur notre site</h1>
    <form method="post">
        {% csrf_token %}
        <label for="name">Veuillez saisir votre prénom et nom :</label>
        <input type="text" id="name" name="name">
        <input type="submit" value="Soumettre">
    </form>
    {% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</body>
</html>
